openapi: 3.1.0
info:
  title: Cyclr Accounts Marketplace API
  description: 'Cyclr''s REST API allows you to manage your Accounts and Cycles, as well as install Templates and Connectors. The API is divided into two parts: Partner Level and Account Level. You can use the same OAuth Access Token for both, but Account level endpoints require an additional X-Cyclr-Account HTTP header to identify which Cyclr Account to execute the call against.'
  version: 1.0.0
  contact:
    name: Cyclr
    url: https://cyclr.com
  license:
    name: Proprietary
    url: https://cyclr.com/legal
servers:
- url: https://api.cyclr.com/v1.0
  description: Cyclr US API
- url: https://api.eu.cyclr.com/v1.0
  description: Cyclr EU API
- url: https://api.au.cyclr.com/v1.0
  description: Cyclr AU API
security:
- bearerAuth: []
tags:
- name: Marketplace
  description: Deploy Marketplace integration UI for end users
paths:
  /users/marketplace:
    post:
      operationId: deployMarketplace
      summary: Cyclr Deploy Marketplace
      description: Deploy the Marketplace integration UI for a specific user, providing them with an interface to browse and install available integrations.
      tags:
      - Marketplace
      parameters:
      - $ref: '#/components/parameters/xCyclrAccount'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - Username
              - MarketplaceId
              properties:
                Username:
                  type: string
                  description: The username of the user accessing the Marketplace
                Password:
                  type: string
                  description: Optional password for the user
                MarketplaceId:
                  type: string
                  description: The ID of the marketplace to deploy
                AccountName:
                  type: string
                  description: Display name for the account
      responses:
        '200':
          description: Marketplace deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  AccountId:
                    type: string
                    description: The Cyclr account ID
                  ExpiresAtUtc:
                    type: string
                    format: date-time
                    description: When the Marketplace token expires
                  MarketplaceUrl:
                    type: string
                    format: uri
                    description: URL to redirect the user to for the Marketplace
                  Token:
                    type: string
                    description: Marketplace access token
        '400':
          description: Bad request
        '401':
          description: Unauthorized
components:
  parameters:
    xCyclrAccount:
      name: X-Cyclr-Account
      in: header
      required: true
      schema:
        type: string
      description: The API ID of the Cyclr Account to execute the call against. Required for all Account level endpoints.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token obtained from the /oauth/token endpoint using Client Credentials flow with your Cyclr Console Client ID and Client Secret.
